name: Build and publish release

on:
  workflow_run:
    workflows: ["Get latest release version"]
    types:
      - completed

jobs:
  build-and-publish:
    name: Build and publish
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        path: .upstream

    - name: Fetch latest upstream release
      id: latest_upstream_release
      run: |
        IFS='|' read name tag_name body < <(echo $(cat .upstream/releases/latest.json | jq -r '. | [.name, .tag_name, .body] | join("|")'))
        echo "::set-output name=release_name::${name}"
        echo "::set-output name=release_tag_name::v${tag_name}"
        echo "::set-output name=release_body::${body}"

    - name: Fetch latest release
      uses: rez0n/actions-github-release@main
      id: latest_release
      env:
        token: ${{ secrets.GITHUB_TOKEN }}
        repository: "topicusonderwijs/ovirt_exporter"
        type: "stable"


    - uses: actions/checkout@v2
      if: steps.latest_release.outputs.release != steps.latest_upstream_release.outputs.release_tag_name
      with:
        repository: czerwonk/ovirt_exporter
        ref: ${{steps.latest_upstream_release.outputs.release_tag_name}}

    - name: Generate build files
      uses: thatisuday/go-cross-build@v1
      if: steps.latest_release.outputs.release != steps.latest_upstream_release.outputs.release_tag_name
      with:
          platforms: 'linux/amd64'
          package: ''
          name: 'ovirt_exporter'
          compress: 'true'
          dest: 'dist'

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      if: steps.latest_release.outputs.release != steps.latest_upstream_release.outputs.release_tag_name
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{steps.latest_upstream_release.outputs.release_tag_name}}
        release_name: ${{steps.latest_upstream_release.outputs.release_name}}
        body: ${{steps.latest_upstream_release.outputs.release_body}}
        draft: true
        prerelease: false

    - name: Upload assets
      uses: NBTX/upload-release-assets@v1
      if: steps.latest_release.outputs.release != steps.latest_upstream_release.outputs.release_tag_name
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        targets: './dist/*'

    - uses: eregon/publish-release@v1
      if: steps.latest_release.outputs.release != steps.latest_upstream_release.outputs.release_tag_name
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        release_id: ${{ steps.create_release.outputs.id }}
